@import "src/style-mixins/colors";
@import "src/style-mixins/fonts";
.inputCurrency{
  padding: 10px 20px;
  display: flex;
  input{
    @include font();
    width: 100%;
    border: none;
    border-bottom: 2px solid $color-main;
  }
  select{
    margin-left: 20px;
    @include font();
    border: none;
    background-color: 2px solid $color-main;
  }
}
